/* CSS Reset */
html, body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

h1, h2, h3{
	text-align: center ;
	font-size: 2em;
	font-family: garamond;
}
ul, ol {
	list-style-type: none;
}
a{ 
 text-decoration: none;
 color: black;
}

a:hover {
	color: red;
}
a:active{
	color: red;
}

h1{
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}

h3{
	padding-top: 1em;
}

#commonLinks{
	width: 100%;
    height: 50px;
}
#commonLinks ul li{
	float:right;
	display: inline;
	padding-left: 1em;
	padding-top:0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

#commonLinks ul li a:last-child{
   padding-right:5em;
}

#riskForm{
	width: 90%;
    margin: 2em;
    padding-left: 4em;
	
}

#riskForm fieldset{
	padding: 1em;
	padding: 1em;
    background-color: whitesmoke;
	box-shadow: 1px 1px 15px rgb(35, 104, 65);
	
}
.question{
    float:left;
}

.formRow{
    margin: 3em;
    
}
.answer{
	padding-left: 30%;
}

.answer input{
  display:inline;
  vertical-align: center; 
  
}
	
.resultTxt{
	visibility: hidden;
	box-shadow:1px 1px 15px rgb(35, 104, 65);
	width: 90%;
    height: 250px;
    margin-bottom: 1em;
    margin-left: 6em;
    background-color: whitesmoke;
}

.userResults{
	visibility: visible;
	box-shadow: 1px 1px 15px rgb(35, 104, 65);
}  

.submit{
	padding-left: 2em;
    padding-top: 2em;
}
#btn1{
	height: 30px;
    width: 10%;
    font-family: garmond;
    font-size: 1em;
	background-color: ghostwhite;
	box-shadow: 1px 1px 15px rgb(35, 104, 65);
	font-weight: bold;
}
 
#result{
	padding-top: 2em;
	padding-left: 2em;
	font-family:garamond;
	font-size: 1.25em;
}

#result a{
	color: red;
}
   
   
#pagefooter{
	clear: both;
    width: 90%;
    height: 50px;
    box-shadow: 1px 1px 15px rgb(35, 104, 65);
    background-color: whitesmoke;
    margin-left: 6em;
}

#pagefooter ul{
  text-align:center;
  padding-top: 1em;
}

#pagefooter ul li{
	display: inline;
	padding-left: 1em;
}

/*contact form */

#contactForm  fieldset{
	display: flex;
	width: 90%;
	padding: 1em;
	padding: 1em;
    background-color: whitesmoke;
	box-shadow: 1px 1px 15px rgb(35, 104, 65);
	margin: 5em;
}
.answerBox{
	padding-top: 2em;
	padding-left: 2em;
	display: inline-flex;
}

label{
	padding-right:2em;
}

 #fname {
	width:25%;
	border-color: black;
	height: 25px;
}

#lname {
	width:25%;
	border-color: black;
	height: 25px
}

#han{ 
  width:25%;
	border-color: black;
	height: 25px
}
 
#email{
	width:25%;
	border-color: black;
	height: 25px
}

#teleNumber{
	width:25%;
	border-color: black;
	height: 25px
}

cite {
	color:red;
	font-size: 1.3em;
}

.error{
	display:none;
	color: red;
	padding-left:  2em;
}

#required{
	padding-top: 2em;
	padding-left: 2em;
}

.submit input:last-child{
	width: 10%;
    height: 30px;
    background-color: whitesmoke;
	font-weight: bold;
	box-shadow: 1px 1px 15px rgb(35, 104, 65);
	font-size: 1em;
}

select {
	width:10%;
	border-color: black;
	height: 25px;
}



